.calculator {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &_sum {
    font-size: 18px;
    font-weight: 600;

    span {
      font-size: 30px;
      font-weight: 900;
    }
  }
}
