header {
  display: flex;
  align-items: center;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 170px;
    height: 50px;
    background: url('../../../assets/new_logo.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }

  .info {
    height: 100%;
    display: flex;
    gap: 5px;


    &_icons {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &_icon {
      fill: #d4d4d4;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: translateY(-1px);
      }
    }

    &_tel {
      font-size: 16px;
      color: #d4d4d4;
      font-weight: 500;
    }
  }
}
