header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  padding-top: 15px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 170px;
    height: 50px;
    background: url('../../../assets/new_logo.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }
}
