// 1. cd node_modules/antd/dist
// 2. lessc --js seriy-theme.less ../../../src/style/custom-antd.css

header,
main,
footer,
.calc,
.examples {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #d4d4d4;
}

.container {
  width: 55%;
  margin: 0 auto;
}

@mixin label {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 95%;
  }

  .layout {
    grid-template-rows: 100px 1fr 20px;
  }

  .header-container {
    flex-direction: column;
  }

  .user-form_inputs {
    flex-direction: column;
  }

  .calculator_sum {
    font-size: 16px;

    span {
      font-size: 28px;
    }
  }
}
